.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to "" do
      = image_tag "sample.png"
      .caption
        %h3 Salvation Army on iPad App Wireframe
        .proto-meta
          .proto-user
            = link_to "by user", root_path
          .proto-posted
            Apr 26
        %ul.proto-tag-list.list-inline
          %li 
            = link_to "iPad", root_path, class: "btn btn-default"
          %li 
            = link_to "wireframe", root_path, class: "btn btn-default"