= form_for @prototype do |f|
  .container.proto-new
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :name, autofocus: true, placeholder: 'Title', class: 'proto-new-title'
      .row
        = f.fields_for :thumbnails, @prototype.thumbnails.main do |thumbnails_form|
          .col-md-12
            .cover-image-upload
              = thumbnails_form.file_field :content
              = thumbnails_form.hidden_field :status, value: 'main'
              = image_tag(main_image(@prototype), class: 'image0_preview')
          .col-md-12
            %ul.proto-sub-list.list-group
              - @prototype.thumbnails.sub.each_with_index do |img, i|
                = f.fields_for :thumbnails, img do |thumbnails_form|
                  %li.list-group-item.col-md-4
                    .image-upload
                      = thumbnails_form.file_field :content
                      = thumbnails_form.hidden_field :status, value: 'sub'
                      = image_tag(img.content.url, class: "image#{i+1}_preview")
              %li.list-group-item.col-md-4.plus
                .image-upload-plus
                  %span +
                %li.list-group-item.col-md-4#hide
                  .image-upload
                    = f.fields_for :thumbnails, @prototype.thumbnails.sub do |thumbnails_form|
                      = thumbnails_form.file_field :content
                      = thumbnails_form.hidden_field :status, value: 'sub'
                      = image_tag (), class: 'plus_form sub_image3_preview'
      .row.proto-description
        .col-md-12
          = f.text_field :copy, placeholder: 'Catch Copy'
        .col-md-12
          = f.text_area :concept, cols: '30', rows: '4', placeholder: 'Concept'
        .col-md-12
          %h4 Tag List
          .row
            - @prototype.tag_list.each do |proto_tag|
              .col-md-3
                = text_field_tag 'prototype[tag][]',proto_tag
      .row.text-center.proto-btn
        = f.submit 'Publish', class: 'btn btn-lg btn-primary btn-block'
