= form_for @prototype do |f|
  .container.proto-new
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :name, autofocus: true, placeholder: 'Title', class: 'proto-new-title'
      .row
        .col-md-12
          = f.fields_for :thumbnails do |thumbnails_form|
            .cover-image-upload
              = thumbnails_form.file_field :content
              = thumbnails_form.hidden_field :status, value: 'main'
              = image_tag (), class: 'image0_preview'
            .col-md-12
              %ul.proto-sub-list.list-group
                - 2.times do |i|
                  = f.fields_for :thumbnails do |thumbnails_form|
                    %li.list-group-item.col-md-4
                      .image-upload
                        = thumbnails_form.file_field :content
                        = thumbnails_form.hidden_field :status, value: 'sub'
                        = image_tag (), class: "image#{i+1}_preview"
                = f.fields_for :thumbnails do |thumbnails_form|
                  %li.list-group-item.col-md-4#hidden_form
                    .image-upload
                      = thumbnails_form.file_field :content
                      = thumbnails_form.hidden_field :status, value: 'sub'
                      = image_tag (), class: 'image3_preview'
                  %li.list-group-item.col-md-4.plus
                    .image-upload-plus
                      %span +
      .row.proto-description
        .col-md-12
          = f.text_field :copy, placeholder: 'Catch Copy'
        .col-md-12
          = f.text_area :concept, cols: '30', rows: '4', placeholder: 'Concept'
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              = text_field_tag 'prototype[tag][]','', placeholder: 'Web Design'
            .col-md-3
              = text_field_tag 'prototype[tag][]','' , placeholder: 'UI'
            .col-md-3
              = text_field_tag 'prototype[tag][]','' , placeholder: 'Application'
      .row.text-center.proto-btn
        = f.submit 'Publish', class: 'btn btn-lg btn-primary btn-block'

