.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar, alt: '64x64', data: { holder: { rendered: 'true'}, src: 'holder.js/64x64'}, style: 'width: 64px; height: 64px;', class: 'media-object'), root_path
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.name
          .proto-user
            = link_to "by #{@prototype.user.name}", ''
            %span.degree
              = @prototype.user.group + ' ' + @prototype.user.works
    .col-md-6.text-right
      #like_form
        = render partial: 'likes/like'
  .row
    .col-md-9
      = image_tag main_image(@prototype), class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.thumbnails.sub.each do |proto_thumbnails|
          %li.list-group-item
            = image_tag proto_thumbnails.content.url, class: 'img-responsive'
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        - @prototype.tag_list.each do |tag|
          %li
            = link_to tag, tag_path(tag), class: 'btn btn-default'
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@prototype.comments.count})
    .col-md-8
      #comments
        = render @prototype.comments
      - if user_signed_in?
        = form_for @comment, html: { class: 'form-inline' }, remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, placeholder: 'Your comments', rows: '3', class: 'form-control'
              = f.hidden_field :prototype_id, value: @prototype.id
            .form-group.col-md-2
              = f.submit 'Comment', class: 'btn btn-primary'
