- if @prototype.likes.exists?(user_id: current_user.id)
  = button_tag class: 'btn btn-default' do
    = link_to image_tag('icon_heart_red.svg'), like_path(prototype_id: @prototype.id), method: :delete
    Like
    %span#likes_count
    = @prototype.likes.count
- else
  = button_tag class: 'btn btn-default' do
    = link_to image_tag('icon_heart.svg'), likes_path(prototype_id: @prototype.id), method: :post
    Like
    %span#likes_count
    = @prototype.likes.count

